
@{
    ViewBag.Title = "Kontakt";
}


<div class="row">
    <div class="jumbotron">
        <img style="width:100%; height: auto;" src="~/images/mainModern.png" />
    </div>
</div>

<div class="row">
    <div class="col-md-12 cont1 text-center" style="padding-top: 10%; padding-bottom:29vh;" >
        <h3 style="font-family:'Italianno-Regular-OTF'; font-size:2.1em">Telefon: <span style="color:firebrick;">660083455</span></h3>
        <h3 style="font-family:'Italianno-Regular-OTF'; font-size:2.1em">Adres email: <span style="color:firebrick;">marcin-dziekan@wp.pl</span></h3>
    </div>


</div>
