


@{
    ViewBag.Title = "Dziękujemy";
}


<div class="row">
    <div class="jumbotron">
        <img style="width:100%; height: auto;" src="~/images/mainModern.png" />
    </div>
</div>

    <div class="row">
        <div class="col-md-12 cont1 text-center" style="padding-top: 12%; padding-bottom:29vh;">
            <h3 style="font-family:'Monotype Corsiva'; font-size:2.4em">Dziękujemy Pani/Panu <span style="color:firebrick; font-weight:bold; font-style:italic;"> @ViewBag.client </span>za kontakt i zaufanie naszej firmie .</h3>
            <p style="font-family:'Monotype Corsiva'; font-size:1.9em">Nasz prawnik skontaktuje się z Państwem tak szybko jak to tylko będzie możliwe.</p>
        </div>
    </div>
